/*

	* blue color: #08526d
	* red color: #ec1c23

*/

/* start the upper bar */

:root
{
	--primary : #08526d;
	--second  : #ec1c23;
}

body
{
	height: 4000px;
}

.upper-bar
{
	background-color: var(--primary);
	color: #FFF;
	padding: 10px;
}
.fa-phone
{
	transform: scaleX(-1);
}

.upper-bar .get-qoute
{
	display: inline-block;
	border: 2px solid var(--second);
	padding: 0px 10px;
	margin-left: 20px;
}

.container .row .col-sm > span
{
	color: #FFF;
}

/* end the upper bar */

/* start navbar */

.navbar-light .navbar-brand > span
{
	font-size: 30px;
}

.navbar-light .navbar-brand span:first-child
{
	color: var(--primary);
	font-weight: bold;
}

.navbar-light .navbar-brand span:last-child
{
	color: var(--second);
}

.navbar-light .navbar-nav .nav-link
{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-light .navbar-nav .active > .nav-link
{
	color: var(--second);
}

.navbar-light .navbar-nav .nav-link:hover
{
	color: #b5afbb;
}

/* end navbar */

/* start slider */

.slider
{
	background-color: #DDD;
}


.slider .carousel-inner
{
	display: flex;
	align-items: center;
	justify-content: left;
}

.slider .carousel-inner h1
{
	position: absolute;
	color: #FFF;
	z-index: 3;
	font-size: 70px;
	left: 100px;
}

.slider	.carousel-inner h1 span
{
	background-color: var(--second);
	padding: 2px 10px;
	display: inline;
}

.slider .carousel-inner .overlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .6);
	z-index: 2;
}

.slider .carousel-item
{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.slider .carousel-one
{
	background-image: url('../img/01.jpg');
}

.slider .carousel-two
{
	background-image: url('../img/02.jpg');
}

.slider .carousel-three
{
	background-image: url('../img/03.jpg');
}


.slider .carousel-indicators li
{
	height: 8px;
	cursor: pointer;
	color: red	;
}

/* end slider */


/* start feauters */

.feauters
{
	padding: 50px 0px;
}

.feauters i
{
	background-color: var(--second);
	color: #FFF;
	padding-top: 7px;
	margin-bottom: 10px;
	width: 50px;
	height: 50px;
}

.feauters h3
{
	color: var(--primary);
	font-size: 22px;
}

.feauters p
{
	color: #989898;
}

/* end feauters */

/* start the overview */

.overview
{
	padding: 100px;
	background-color: #f0f5f7;
}

.overview h2
{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
}

.overview p
{
	line-height: 2;
	font-size: 20px;
	width: 80%;
	margin: 0 auto 15px;
	color: #6a6a6a;
}

.overview h4
{
	letter-spacing: 2px;
	font-weight: normal;
	color: #8b8a8a;
	margin-bottom: 40px;
}

.overview button
{
	background-color: var(--second);
	color: #FFF;
	padding: 20px 30px;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid var(--second);
}

/* end the overview */

/* start the feuters work */

.feauters-work
{
	padding: 100px 0;
}

.feauters-work h2
{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
}

.feauters-work p
{
	line-height: 1.6;
	font-size: 20px;
	width: 80%;
	margin: 0 auto 15px;
	color: #6a6a6a;
}

.feauters-work ul
{
	margin-top: 40px;
}

.feauters-work ul li
{
	color: var(--primary);
	border: 2px solid var(--primary);
	padding: 10px 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

}
.feauters-work ul li.active,
.feauters-work ul li:hover
{
	background-color: var(--second);
	border: 2px solid var(--second);
	color: #FFF;
	cursor: pointer;
}

.feauters-work .shuffle-images
{
	margin-top: 50px;
}
.feauters-work .row .col-md
{
	padding: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.feauters-work .row img
{
	width: 100%;
}

/* end the feuters work */


/* start the latest posts */


.latest-posts
{
	padding: 0 0 100px;
}

.latest-posts .card
{
	margin-bottom: 30px;
}

.latest-posts h2
{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
}

.latest-posts p
{
	line-height: 1.6;
	font-size: 20px;
	width: 80%;
	margin: 0 auto 45px;
	color: #6a6a6a;
}

.latest-posts .row .card button a
{
	color: #FFF;
	font-weight: bold;
}

.latest-posts .row
{
	margin: 0;
}

.latest-posts .card .card-title
{
	font-size: 20px;
	line-height: 1.5px;
	color: var(--primary);
	margin-bottom: 35px;
}

.latest-posts .card .card-text
{
	color: #787878;
}

.latest-posts .card a
{
	color: var(--second);
	font-size: 25px;
	font-weight: bold;
}

/* end the latest posts */


/* start the testmonials */

.testmonials
{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url('../img/03.jpg');
	background-position: center center;
	position: relative;
}

.testmonials .overlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .6);
	z-index: 2;
}

.testmonials .container
{
	position: relative;
	z-index: 3;
}

.testmonials .carousel-inner .carousel-item img
{
	border-radius: 50%;
}

.testmonials .carousel-caption img
{
	margin-bottom: 20px;
}


.testmonials .carousel-caption h3
{
	margin-bottom: 5px;
}

.testmonials .carousel-caption h3 + span
{
	font-size: 18px;
	display: inline-block;
	margin-bottom: 30px;
}

.testmonials .carousel-indicators li
{
	height: 8px;
	cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next
{
	z-index: 5;
}

.prev-icon
{
	background-color: var(--second);
	width: 40px;
	height: 40px;
	background-size: 20px 20px;
	border: 1px solid #FFF;
}

/* end the testmonials */

/* start the pricing table */


.pricing-table
{
	background-color: #f7f7f7;
	padding: 100px 0 100px;
}

.pricing-table .card
{
	margin-bottom: 30px;
}

.pricing-table .card-body
{
	/* background-color: red; */
	padding-left: 0;
	padding-right: 0;
}

.pricing-table h2
{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
}

.pricing-table p
{
	line-height: 1.6;
	font-size: 20px;
	margin: 0 auto 45px;
	color: #6a6a6a;
}

.pricing-table .row .card button a
{
	color: #FFF;
	font-weight: bold;
}

.pricing-table .row .card
{
	margin-left: 50px;
	margin-right: 50px;
}

.pricing-table .card .card-title
{
	font-size: 20px;
	line-height: 1.5px;
	color: var(--primary);
	margin-bottom: 35px;
	font-size: 25px;
	margin-top: 40px;
}

.pricing-table .card .card-text
{
	color: var(--primary);
	margin: 0;
	margin-bottom: 5px;
	background-color: #f7f7f7;
	padding: 10px;
	margin: 30px 0 10px;
	font-size: 30px;
	font-weight: bold;
}

.pricing-table .card .card-text span
{
	font-size: 18px;
	text-transform: uppercase;
}

.pricing-table .list-group-item
{
	border: none;
}

.pricing-table .card .card-link
{
	background-color: var(--second);
	font-weight: bold;
	display: inline-block;
	padding: 10px 15px;
	margin-top: 15px;
	margin-bottom: 30px;
	color: #FFF;
	font-size: 18px;
	text-transform: uppercase;
}

.pricing-table .card.corporate
{
	position: relative;
	top: -20px;
}

.pricing-table .card.corporate .card-text
{
	background-color: var(--second);
	color: #FFF;
}
.pricing-table .card.corporate .card-link
{
	background-color: var(--primary);
}

/* end the pricing table */
